---
import Button from '@components/widgets/Button.astro';
import { getTags, getTagUrl } from '@utils/content-utils';
import { t } from '@utils/i18n';
const tagsMap = await getTags();
---

<div id="aside-siteinfo-tags">
  <div
    class="after:from-base-200/0 after:to-base-200 relative flex max-h-40 flex-wrap gap-0 overflow-hidden after:pointer-events-none after:absolute after:bottom-0 after:hidden after:h-24 after:w-full after:content-end after:bg-gradient-to-b"
  >
    {
      Array.from(tagsMap.entries()).map(([tag, count]) => (
        <Button href={getTagUrl(tag)} title={`${tag}`} class="btn-ghost btn-sm gap-0">
          {tag}
          <sup>{count}</sup>
        </Button>
      ))
    }
  </div>
  <div class="btn bg-base-200/50 btn-wide hidden rounded-sm hover:brightness-125">
    {t.button.more()}
  </div>
</div>

<script>
  function setup() {
    const tags = document.getElementById('aside-siteinfo-tags');
    if (!tags) return;
    const tagsList = tags.children[0] as HTMLDivElement;
    const moreBtn = tags.children[1] as HTMLDivElement;

    const clientHeight = tagsList.clientHeight;
    const scrollHeight = tagsList.scrollHeight;

    if (scrollHeight > clientHeight) {
      tagsList.classList.remove('after:hidden');
      moreBtn.classList.remove('hidden');
    }

    moreBtn.addEventListener('click', () => {
      tagsList.classList.remove('max-h-40');
      tagsList.classList.add('after:hidden');
      moreBtn.classList.add('hidden');
    });
  }

  document.addEventListener('astro:page-load', setup);
  setup();
</script>
