---
import { profileConfig } from '@/config';
import ImageWrapper from '@components/utils/ImageWrapper.astro';
import Button from '@components/widgets/Button.astro';
import { Icon } from 'astro-icon/components';
---

<div id="profile-card" class="card border-base-300 bg-base-200 border">
  <figure class="px-4 pt-4">
    <a href="/about/">
      <ImageWrapper class="rounded-xl" src={profileConfig.avatar} alt={profileConfig.name} />
    </a>
  </figure>
  <div class="card-body items-center p-5 text-center">
    <div class="card-title">
      <a href="/about/" class="font-bold">{profileConfig.name}</a>
    </div>
    <div>{profileConfig.bio}</div>
    <div class="flex flex-row flex-wrap items-center justify-center gap-2">
      {
        profileConfig.socialLinks.map((link) => (
          <Button
            href={link.url}
            title={link.name}
            target="_blank"
            class="btn-circle btn-ghost tooltip text-2xl"
            data-tip={link.name}
          >
            <Icon name={link.icon} />
          </Button>
        ))
      }
    </div>
  </div>
</div>
