---
import { t } from '@utils/i18n';

interface Props {
  backLinks: {
    refBy: {
      title: string;
      collection: 'posts' | 'spec';
      id: string;
    };
    context: string;
    offset: [number, number];
    id: string;
  }[];
}

const { backLinks } = Astro.props;
---

<div class="bg-base-100 border-base-content/25 collapse-plus collapse my-4 border">
  <input type="checkbox" />
  <div class="collapse-title text-lg font-semibold">{t.info.backLinks()}</div>
  <div class="collapse-content">
    <ul class="list">
      {
        backLinks.map(({ refBy, context, id, offset }) => {
          const url = refBy.collection === 'posts' ? `/posts/${refBy.id}` : `/${refBy.id}`;
          return (
            <li class="list-row">
              <a href={`${url}#wiki-${id}`} title={refBy.title} class="list-col-grow">
                <span class="text-base font-bold">{refBy.title}</span>
                <div class="text-base-content/60 mt-2 flex flex-wrap items-start gap-x-4 gap-y-2 text-sm">
                  <span>
                    {context.slice(0, offset[0])}
                    <strong class="text-primary">{context.slice(offset[0], offset[1])}</strong>
                    {context.slice(offset[1])}
                  </span>
                </div>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
