---
import { articleConfig, toolBarConfig } from '@/config';
import { t } from '@utils/i18n';
import { Icon } from 'astro-icon/components';
import Button from './widgets/Button.astro';
import DarkModeButton from './widgets/DarkModeButton.astro';
import TocButton from './widgets/SideToolBar/TocButton.vue';
---

<div
  id="side-toolbar"
  class="fixed right-0 bottom-10 z-30 grid grid-cols-1 gap-2"
  aria-label={t.info.toolBar()}
>
  <div
    id="stb-hide"
    class="grid translate-x-full grid-cols-1 gap-2 pr-4 duration-500 ease-in-out"
    inert
  >
    {
      toolBarConfig.items.map((item) => {
        const { icon, text } = item;
        if ('href' in item)
          return (
            <Button
              href={item.href}
              target={item.blank ? '_blank' : undefined}
              title={text}
              aria-label={text}
              {...(item.extraAttr || {})}
            >
              <Icon name={icon} slot="icon" />
            </Button>
          );
        if ('onclick' in item) {
          if (typeof item.onclick === 'string')
            return (
              <Button
                onclick={item.onclick}
                title={text}
                aria-label={text}
                {...(item.extraAttr || {})}
              >
                <Icon name={icon} slot="icon" />
              </Button>
            );
          return (
            <Button
              id={`stb-${item.onclick!.id}`}
              title={text}
              aria-label={text}
              {...(item.extraAttr || {})}
            >
              <Icon name={icon} slot="icon" />
            </Button>
          );
        }
        return (
          <Button title={text} aria-label={text} {...(item.extraAttr || {})}>
            <Icon name={icon} slot="icon" />
          </Button>
        );
      })
    }
    <DarkModeButton id="stb-dark-mode" class="btn-circle btn-secondary btn-sm" />
  </div>
  <div
    id="stb-show"
    class="grid translate-x-full grid-cols-1 gap-2 pr-4 duration-500 ease-in-out"
  >
    <Button
      id="stb-show-more"
      class="btn-circle btn-secondary btn-sm"
      aria-expanded="false"
      aria-label={t.button.more()}
      aria-controls="stb-hide"
    >
      <Icon name="material-symbols:settings-rounded" class="animate-spin" />
    </Button>
    {
      articleConfig.toc && (
        <TocButton client:media="(width <= 80rem)">
          <Icon name="material-symbols:toc-rounded" slot="icon" />
        </TocButton>
      )
    }
    <Button id="stb-back-to-top" class="group btn-circle btn-secondary btn-sm">
      <span
        id="stb-read-percentage"
        aria-label={t.info.readingPercentage()}
        class="absolute text-sm opacity-0 duration-300 group-hover:opacity-0">0</span
      >
      <Icon
        id="stb-back-to-top-icon"
        name="material-symbols:arrow-upward-rounded"
        class="duration-300 group-hover:opacity-100"
      />
    </Button>
  </div>
</div>

<script>
  import { toolBarConfig } from '@/config';
  import { getReadingProgress } from '@scripts/utils';

  const stbItems = toolBarConfig.items;

  function setup() {
    const stbShow = document.getElementById('stb-show');
    const stbHide = document.getElementById('stb-hide');
    const stbShowMore = document.getElementById('stb-show-more');
    const stbBackToTop = document.getElementById('stb-back-to-top');
    const stbBackToTopIcon = document.getElementById('stb-back-to-top-icon');
    const stbReadPercent = document.getElementById('stb-read-percentage');

    let isExpanded = JSON.parse(stbShowMore?.getAttribute('aria-expanded') || 'false');

    stbShowMore?.addEventListener('click', () => {
      isExpanded = !isExpanded;
      stbShowMore.setAttribute('aria-expanded', String(isExpanded));
      if (isExpanded) {
        stbHide?.classList.remove('translate-x-full');
        stbHide?.removeAttribute('inert');
      } else {
        stbHide?.classList.add('translate-x-full');
        stbHide?.setAttribute('inert', 'true');
      }
    });

    stbBackToTop?.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    });

    const bottomPos =
      (
        document.getElementById('page-comment') ||
        document.getElementById('page-footer') ||
        document.getElementById('footer')
      )?.offsetTop || document.documentElement.scrollHeight;

    window.addEventListener('scroll', () => {
      // 控制工具栏显隐
      if (window.scrollY > 0) {
        stbShow?.classList.remove('translate-x-full');
      } else {
        stbShow?.classList.add('translate-x-full');
        stbShowMore?.setAttribute('aria-expanded', 'false');
        isExpanded = false;
        document.getElementById('stb-hide')?.classList.add('translate-x-full');
      }
      // 控制进度条
      const scrolledPercentage = getReadingProgress(bottomPos);
      if (stbReadPercent) stbReadPercent.textContent = `${scrolledPercentage}`;
      const isNearEnd = scrolledPercentage >= 99 || scrolledPercentage < 0;
      if (isNearEnd) {
        stbReadPercent?.classList.add('opacity-0');
        stbBackToTopIcon?.classList.remove('opacity-0');
      } else {
        stbReadPercent?.classList.remove('opacity-0');
        stbBackToTopIcon?.classList.add('opacity-0');
      }
    });

    stbItems.forEach((item) => {
      if ('onclick' in item && item.onclick && typeof item.onclick !== 'string') {
        const stbEl = document.getElementById('stb-' + item.onclick.id);
        if (stbEl) stbEl.addEventListener('click', item.onclick.function);
      }
    });
  }

  document.addEventListener('astro:page-load', setup);
  setup();
</script>
